body{
    font-family: 'Lora', serif;
    margin: 0%;
}
h1{
    font-size: 40px;
}
.Change-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 10%;
}
.half-width img{
    width: 100%;
}
.Explore-button{
    text-decoration: none;
    background-image: linear-gradient(tomato, tomato);
    padding: 8px 25px;
    color: white;
    font-weight: 500;
    border-radius: 5px;
}
.Mission-2022{
    text-align: center;
}
.Mission{
    width: 30%;
    margin-left: 10%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px grey;
    background-color: lightblue;
}
.Mission img{
    width: 50%;
}
.Vission{
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px grey;
    background-color: lightpink;
}
.Vission img{
    width: 50%;
}
.Goals{
    width: 30%;
    margin-right: 10%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px grey;
    background-color: lightyellow;
}
.Goals img{
    width: 50%;
}
.Read-documentation{
    text-decoration: none;
    background-image: linear-gradient(tomato, tomato);
    padding: 8px 20px;
    color: white;
    font-weight: 500;
    border-radius: 5px;
}
.third-section{
    background-image: url(shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 17%;
    background-position: left center;
}
.Global-community{
    text-decoration: none;
    background-image: linear-gradient(tomato, tomato);
    padding: 8px 20px;
    color: white;
    font-weight: 500;
    border-radius: 5px;
}
.section-four{
    background-image: url(shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 17%;
    background-position: right bottom;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Moon Dance', cursive;
}
